/* general rules */
html {
 scroll-behavior: smooth;
}
::-webkit-scrollbar {
 width: 10px;
}
::-webkit-scrollbar-thumb {
 background: #888;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
li{
  list-style: none;
  color: white;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight:bold;
}
a:hover{
  text-decoration: none;
  color: white;
}
h2{
  font-weight: bold;
  color: white;
}

body{
  background: #0A0A0D;
}




/* leftbox */
#leftbox{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  min-width: 15vw;
  min-height: 80vh;
  background-color: #0A0A0D;
  display: flex;
  flex-flow: column;
  justify-content: ;
}
#leftbox .box{
  width: 50px;
  height: 50px;
  background: yellow;
}

#rightbox{
  padding-left: 15vw;
  background-image: linear-gradient(to right, #363449, #21202C);
}

#bottombox{
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20vh;
  background: #282828;
}
