/* general rules */
html {
 scroll-behavior: smooth;
}
::-webkit-scrollbar {
 width: 10px;
}
::-webkit-scrollbar-thumb {
 background: #888;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
li{
  list-style: none;
  color: white;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight:bold;
}
a:hover{
  text-decoration: none;
  color: white;
}
h2{
  font-weight: bold;
  color: white;
}

body{
  background: #0A0A0D;
}




/* leftbox */
#leftbox{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  min-height: 80vh;
  background-color: #0A0A0D;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}
#leftbox img{
  filter: invert(100%);
}
#leftbox .imgbox{
  text-align: center;
}
#leftbox .imgbox img{
  width: 50%;
}

#leftbox .txtbox{
  margin: 20px auto;
}

#leftbox .txtbox a{
  display: inline-block;
  width: 100%;
  padding-left: 1rem;
}

#leftbox .txtbox a:hover{
  color: white;
  border-left: lightgreen 2px solid;
}
#leftbox .txtbox img{
  width: 15%;
}
#leftbox .box:nth-child(2) .txtbox li a{
  border: 2px solid white;
  display: inline-block;
  border-radius: 20px;
  margin: 5px auto;
  padding: 5px 30px;
  width: 100%;
}
#leftbox .box:nth-child(2) .txtbox li:nth-child(1) a{
  background: white;
  color: gray;
}
#leftbox .box:nth-child(2) .txtbox li:nth-child(3) a{
  border: none;
}
#leftbox .box:nth-child(2) .txtbox li:nth-child(4) a{
  border: none;
}


#rightbox{
  padding-left: 15vw;
  background-image: linear-gradient(to right, #363449, #21202C);
}

#bottombox{
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20vh;
  background: #282828;
}
