/* general rules */
#rightbox {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
 width: 10px;
}
::-webkit-scrollbar-thumb {
 background: #888;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
li{
  list-style: none;
  color: white;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight:bold;
}
a:hover{
  text-decoration: none;
  color: white;
}
h2{
  font-weight: bold;
  color: white;
}

body{
  background: #0A0A0D;
}




/* leftbox */
#leftbox{
  position: fixed;
  left: 0;
  top: 0;
  max-height: calc(100% - 98px) ;
  background-color: #0A0A0D;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.4rem 0;
  overflow-y: auto;
}
#leftbox img{
  filter: invert(100%);
}
#leftbox .imgbox{
  text-align: center;
}
#leftbox .imgbox img{
  width: 50%;
}

#leftbox .txtbox{
  margin: 20px auto;
  padding: 0 1rem;
}

#leftbox .txtbox a{
  display: inline-block;
  width: 100%;
  padding-left: 1rem;
}

#leftbox .txtbox a:hover{
  color: white;
  border-left: lightgreen 2px solid;
}
#leftbox .txtbox img{
  width: 15%;
}
#leftbox .box .txtbox  ul{
  overflow-y: auto;
  height: 100px;
}
#leftbox .box:nth-child(2){
  text-align: center;
  align-self: center;
  width: 100%;
  padding: 0 1rem;
}
#leftbox .box:nth-child(2) .txtbox a{
  padding: 5px;
  display: inline-block;
  border: 2px solid white;
  background-color: white;
  color: black;
  margin: 5px;
  border-radius: 20px;
  width: 100%;
}
#leftbox .box:nth-child(2) .txtbox a:last-of-type{
  background-color: black;
  color: white;
}

#rightbox{
  position: fixed;
  top: 0;
  right: 0;
  max-height: calc(100% - 98px);
  overflow-y: auto;
  background-image: linear-gradient(to right, #363449, #21202C);
}

#rightbox{
  padding: 2% 5% 14vh 5%;
  background-image: linear-gradient(to right, #363449, #21202C);
  color: gray;
}

#rightbox #tophead li a{
  padding-bottom: 0.5rem;
}
#rightbox #tophead li a:hover{
  border-bottom: 2px solid lightgreen;
}

#rightbox section{
  padding: 2% 0 2% 0;
}
#rightbox section .txtbox{
  display: flex;
  justify-content: space-between;
}
#rightbox section .imgbox{
  text-align: center;
}
#rightbox section .imgbox li{
  display: inline-block;
  width: calc((100% / 1) - 10px);
  padding-left: 5px;
  padding-right: 5px;
}
#rightbox section .imgbox li a{
  color: white;
}

#rightbox section .imgbox img{
  width: 100%;
  margin: 5px;
  transition: filter 1s;
}
#rightbox section .imgbox img:hover{
  filter: blur(3px);
}

#bottombox{
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  max-height: 100px;
  padding: 1rem;
  background: #282828;
}

#bottombox #showme{
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#bottombox #showme .txtbox {
  margin: 0 1rem;
}
#bottombox #showme .txtbox a{
  font-size: 10px;
}
#bottombox .col-2:first-of-type li a{
  font-size: 20px;
}
#bottombox .col-2:first-of-type img{
  width: 25%;
}
#bottombox .col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#bottombox .col .txtbox ul li{
  padding: 0 10px;
  font-weight: bold;
}
#bottombox .col .txtbox ul li:nth-child(3) a{
  padding: 5px 8px;
  border-radius: 50%;
  border: 1px solid white;
}
#bottombox .col .txtbox .line{
  position: relative;
  display: inline-block;
  width: 30vw;
  border-bottom: 3px solid white;
}
#bottombox .col .txtbox .line i{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: music 6s infinite;
}
#bottombox .col-2:last-of-type .line{
  display: inline-block;
  width: 4vw;
  border-bottom: 3px solid white;
  margin-bottom:3px;
  margin-left: 5px;
}
/* animation */
@keyframes music {
  0%{
    bottom: 10px;
    left: 0;
  }
  14%{
    bottom: 0;
    left: 14%;
    color: #9400D3;
  }
  28%{
    bottom: 10px;
    left: 28%;
    color: #66199e;
  }
  42%{
    bottom: 0;
    left: 42%;
    color: #0000FF;
  }
  56%{
    bottom: 10px;;
    left: 56%;
    color: #00FF00;
  }
  70%{
    bottom: 0;
    left: 70%;
    color: #FFFF00;
  }
  84%{
    bottom: 10px;;
    left: 84%;
    color: #FF7F00;
  }
  100%{
    bottom: 0;
    left: 95%;
    color: #FF0000;
  }


}

/* media */

@media (max-width:769px) {
  #leftbox{
    display: none;
  }
  #rightbox section .imgbox img{
    width: 70%;
  }
  #bottombox .col-2:first-of-type{
    display: none !important;
  }
  #bottombox .col-2:last-of-type{
    display: none;
  }
}


@media (min-width: 767.98px) {
  #rightbox section .imgbox li{
    display: inline-block;
    width: calc((100% / 2) - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }

}
@media (min-width: 991.98px) {
  #rightbox section .imgbox li{
    display: inline-block;
    width: calc((100% / 3) - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 1199.98px) {
  #rightbox section .imgbox li{
    display: inline-block;
    width: calc((100% / 6) - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
}
