 /* general rules */

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight:bold;
}
a:hover{
  text-decoration: none;
  color: white;
}
h2{
  font-weight: bold;
  color: white;
}
/* /general rules */

/* classes to used again and again */
.nobg{
  color: inherit;
  background-color: inherit;
  border: none;
}
/* /classes to used again and again */
/* left */

#left{
  background: #0A0A0D;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  bottom: 15vh;
  flex-flow: column;
  padding:10px 0 10px 0;
  justify-content: space-between;
  overflow-y: auto;
}
#left .txtbox{
  padding-top: 20px;
  padding-bottom: 20px;
}
#left .imgbox {
  text-align: center;
}
#left img{
  filter: invert(100%);
  width: calc(60% - 30px);
}
#left .txtbox img{
  width: 34px;
}

#left .box:nth-child(2){
  text-align: center;
}
#left .box:nth-child(2) a{
  padding: 5px;
  display: inline-block;
  width: calc(100% - 70px);
  border: 2px solid white;
  border-radius: 20px;
  margin: 5px;
}
#left .box:nth-child(2) a:nth-child(1){
  background:white;
  color: black;
}
/* /left */

/* right */
#right{
  padding: 2% 5% 14vh 10%;
  background-image: linear-gradient(to right, #363449, #21202C);
  color: gray;
}
#right section{
  padding: 2% 0 2% 0;
}
#right section .txtbox{
  display: flex;
  justify-content: space-between;
}
#right section .imgbox{
  text-align: center;
}
#right section .imgbox li{
  display: inline-block;
  width: calc((100% / 6) - 10px);
  padding-left: 5px;
  padding-right: 5px;
}
#right section .imgbox li a{
  color: white;
}

#right section .imgbox img{
  width: 100%;
  margin: 5px;
}

/* /right */

/* play */
#play{
  background: #282828;
  height: 15vh;
  position:fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 80vh;
  color: GRAY;
  padding: 10px 0 10px 0;
}
#play i{
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}
#play li:nth-child(3) i{
  padding: 8px;
  border: 1px solid gray;
  border-radius: 50%;
}

#play .txtbox{
  text-align: center;
}
/* /play */
